:root{
    --color-primary: rgba(0 69 172);
    --color-text: rgba(252 247 255);
    --color-secondary: rgba(240 78 23);
    --color-black: rgba(14 12 23);
}
body{
    margin: 0px;
    padding: 30px;
    font-family: poppins;
    background-color: var(--color-primary);
}
/*NAVBAR */
.navigation{
    position: fixed;
    left: 0px;
    top:10px;
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    z-index: 4;
    background-color: transparent;
  }
.logo{
    height:33px;
    z-index: 3;
    margin:auto;
    text-align:center;
    right: -90% !important;
    
  }
  .logo img{
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  .contact-btn{
    color: var(--color-text);
    z-index: 3;
  }
  .contact-btn:hover{
    text-decoration: none;
    color: var(--color-text);
    
  }
  .contact-btn::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    text-decoration: none !important;
    background: var(--color-text);
    transition: width .3s;
  }
  .contact-btn:hover::after{
    width: 100%;
    border-bottom:hidden;
    color: var(--color-text);
    text-decoration: none !important;
  }
  .contact-btn i{
    margin-left: 4px;
  }
 
  .menu-btn{
    display: none;
}
.text-menu{
    color: var(--color-text);
    display: inline-block;
    position: absolute;
    margin-left: 50px;
    position: fixed;
}

.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
/*SIDEBAR */
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 40px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 99;
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  list-style: none;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
  color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  position: fixed !important;
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  z-index: 99;
  height: 100%;
  width: 100%;
  height: 18px;
  width: 40px;
  display: inline-block;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin-top: 3px;
}
.horizontal {
  transition: all 0.3s;
  width: 65%;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  width: 100%;
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  width: 80%;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-3 {
  width: 50%;
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
/*--main------------------------*/
#main{
    width:100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    
  }
 
  .main-text{
    position: absolute;
    left: 20%;
    top: 60%;
    transform: translate(-15%,-50%);
    width:500px;
    height: 500px;
  }
 
  .main-text h1{
    color: var(--color-text);
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0px;
    line-height: 70px;
  }
  .main-text p{
    color: var(--color-text);
    font-size: 1.3rem;
    font-weight: 200;
    margin: 0px;
    margin-top: 10px;
    line-height: 20pt;
  }
  .strong{
    font-weight: bold;
  }
  .model-content{
    position: absolute;
    left: 70%;
    top: 60%;
    transform: translate(-15%,-50%);
    width:500px;
    height: 500px;
  }
 
  .model{
    position: absolute;
    display: flex;
    align-items: center;
    width: 250px;
    height: 250px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: var(--color-secondary);
  }
  .model:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
 .model-text{
  display: block;
  align-self: auto;
 }
 .model-text h1{
   font-size: 2.2rem;
   text-align: center;
   font-weight: bold;
   color:var(--color-black);
 }
 /*SOCIAL MEDIA BTN*/
 .social-btn-content{
  position: absolute;
   top:80% ;
   right:10%;
 }
 .btn-social{
  display: inline-block;
   width: 40px;
   height: 40px;
   padding: 10px;
   border-radius: 50%;
   -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
   border: 2px solid var(--color-text);
   margin-right: 30px;
   
 }
 .btn-social i{
  display: block;
   color: var(--color-text);
   font-size: 1.3rem;
   position: relative;
  
 }

@media(max-width:800px){
  .navigation{
    background-color: var(--color-primary);
   
  }
  .main-text{
    top: 50% !important;
  }
  .main-text h1{
    font-size: 2.3rem;
    line-height: 50px;
  }
  .text-menu{
    display: none !important;
  }
  .contact-btn{
    font-size: .8rem;
  }
  /*main resposive*/
  .main-text{
    width: 90%;
    font-size: 1rem;
  }
  .model-content{
    display: none;
  }
.btn-model{
  background-color: var(--color-secondary);
  font-size: 1.5rem;
  margin-top: 10px;
  border-radius: 10px ;
  color: var(--color-black);
}
.btn-model:hover{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

}
